.loader-container {
    /* or adjust as needed */
    left: 40%;
    top: 40%;
  }
  
.signin-loader-container {
  display: block;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  }

.signin-btn {
   background-color: #007C01 !important;
}

.register-link{
  text-align: right;
}

.base-color { 
  color: #007C01 !important;
}